@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme {
    @font-face {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 200 700;
        font-display: swap;
        src: url('/fonts/Montserrat-VariableFont_wght.ttf') format("truetype");
    }
}

html {
    font-family: Montserrat;
}

ol, ul {
    list-style: disc;
    padding-inline-start: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

ol {
    list-style: decimal;
}

a {
    text-decoration: underline;
}
