---
import BaseLayout from "@layouts/BaseLayout.astro"

const helmet = {
    title: 'Home',
    description: 'Das ist die Main Page',
}
---

<BaseLayout title="sd" description="asdfs">
    <p></p>
</BaseLayout>
