---
import BaseLayout from "@layouts/BaseLayout.astro"
import {ContactBlock} from '../components/ContactBlock'

const helmet = {
    title: 'Home',
    description: 'Das ist die Main Page',
}
---

<BaseLayout title="Melanie Ahipo" description="Rechtsanwältin & rechtliche Betreuerin">
    <p></p>
    <ContactBlock/>
</BaseLayout>
