---
interface Props {
    text: string,
    variant?: 'primary' | 'secondary' | 'text',
}

const {text, variant = 'primary'} = Astro.props;

const baseStyling = 'w-24 h-8 rounded-lg hover:shadow hover:shadow-corporate-main';

const solidButtonStyling = `${baseStyling} ${(variant === 'primary') ?
    'bg-corporate-main text-corporate-light' :
    'border border-corporate-main'}`

const textButtonStyling = `p-1 flex items-center rounded-lg hover:shadow hover:shadow-corporate-main`
---

<button class={`${variant === 'text' ? textButtonStyling : solidButtonStyling}`}>
    {text}
</button>
