---
import React from 'react';
import {ContentBlock} from '@/components/ContentBlock.tsx';
import {type Lang, useTranslations} from '@/i18n';

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale)
---

<ContentBlock>
    <div class="flex flex-col gap-6 mt-10 w-full md:grid md:grid-cols-5 md:gap-10">

        <div class={'col-start-2 col-span-2'}>
            <h2 class={'text-3xl md:text-4xl'}>{t('content1.title')}</h2>
            <h2 class={'text-3xl md:text-4xl'}>{t('content1.subheader')}</h2>
        </div>

        <div class={'flex flex-col gap-6 min-w-[250px] text-justify md:col-start-2 md:col-span-2 md:gap-4'}>
            <p>{t('content1.text1')}</p>
            <p>{t('content1.text2')}</p>

            <p>{t('content1.text3')}</p>
        </div>
    </div>
</ContentBlock>
