---
import React from 'react';
import {ContentBlock} from '@/components/ContentBlock.tsx';
import {type Lang, useTranslations} from '@/i18n';

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale)
---

<ContentBlock>
    <div class="mt-10 w-full grid grid-cols-5 gap-10">

        <div class={'col-start-2 col-span-2'}>
            <h2 class={'text-4xl'}>{t('content1.title')}</h2>
            <h2 class={'text-4xl'}>{t('content1.subheader')}</h2>
        </div>

        <div class={'col-start-2 col-span-2 flex flex-col gap-4 min-w-[250px]'}>
            <p>{t('content1.text1')}</p>
            <p>{t('content1.text2')}</p>

            <p>{t('content1.text3')}</p>
        </div>
    </div>
</ContentBlock>
