---
import React from 'react'
import {type Lang, useTranslations} from '@/i18n'
import {ContentBlock} from '@/components/ContentBlock.tsx'
import {Icon} from 'astro-icon/components'

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale)
---

<div class={'w-full flex bg-corporate-main my-4 py-4'}>
    <ContentBlock>
        <div class="w-full grid grid-rows-2 grid-cols-5 gap-2 text-corporate-light">
            <div class={'col-start-3 flex justify-center items-center'}>
                <h3 class={'text-4xl'}>{t('general.contact')}</h3>
            </div>

            <div class={'row-start-2 grid col-span-5 md:grid-flow-row md:grid-cols-5 gap-2 justify-around flex-wrap mb-4'}>
                <div class={'col-start-2 flex flex-col items-center gap-4'}>
                    <p class='text-lg'>+49 7611 5534480</p>
                    <a href={'tel:+4976115534480'}>
                        <Icon name={'mdi:telephone'} size={50}/>
                    </a>
                    <p>{t({de: 'Anruf', en: 'Phone'})}</p>
                </div>
                <div class={'flex flex-col items-center gap-4'}>
                    <p class='text-lg'>info@ahipo.de</p>
                    <a href={'mailto:info@ahipo.de'}>
                        <Icon name={'mdi:email-outline'} size={50}/>
                    </a>
                    <p>{'E-Mail'}</p>
                </div>
                <div class={'flex flex-col items-center gap-4'}>
                    <p class='text-lg'>+49 176 83417714</p>
                    <a href={'https://wa.me/+4917683417714/'} target="_blank">
                        <Icon name={'mdi:whatsapp'} size={50}/>
                    </a>
                    <p>{'WhatsApp'}</p>
                </div>
            </div>
        </div>
    </ContentBlock>
</div>
