---
import React from 'react'
import {ContentBlock} from '@/components/ContentBlock.tsx'
import {Icon} from 'astro-icon/components';
import Button from './Button.astro';
import {type Lang, useTranslations} from '@/i18n';

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale)
---


<ContentBlock>
    <div class="mt-10 w-full flex flex-col gap-10">

        <div class={'self-center text-center mb-4'}>
            <h2 class={'text-4xl'}>{t('features.title')}</h2>
        </div>

        <div class={'flex-1 grid gap-10 grid-flow-row md:grid-flow-col md:grid-cols-5'}>

            <div class={'md:col-start-2 flex justify-center'}>
                <div class={'max-w-[500px] min-w-[250px] flex flex-col gap-8 items-center text-justify'}>
                    <Icon name={'mdi:legal'} size={50}/>
                    <h3 class={'text-3xl'}>{t('features.legal.title')}</h3>
                    <p>{t('features.legal.text')}</p>
                </div>
            </div>

            <div class={'md:col-start-4 flex justify-center'}>
                <div class={'max-w-[500px] min-w-[250px] flex flex-col items-center gap-8 text-justify'}>
                    <Icon name={'mdi:handshake-outline'} size={50}/>
                    <h3 class={'text-3xl'}>{t('features.assistance.title')}</h3>
                    <p>{t('features.assistance.text')}</p>
                </div>
            </div>
        </div>
    </div>
</ContentBlock>
