---
import React from 'react';
import {type Lang, useTranslations} from '../i18n';
import {ContentBlock} from '@/components/ContentBlock.tsx'
import LanguageSwitch from '@/components/LanguageSwitch.astro'
import {Icon} from 'astro-icon/components';
import Button from './Button.astro'

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale)
---

<nav class={'w-full h-20 flex fixed bg-corporate-light'}>
    <ContentBlock disableVerticalPadding={true}>
        <div class="w-full flex justify-between items-center">
            <a class={'w-48 h-32 md:w-80 md:h-full flex items-center'} href={'/'}>
                <Icon name={'ahipo_logo'} width={'100%'} height={'100%'}/>
            </a>

            <div class={'flex gap-4'}>
                <LanguageSwitch/>
                <div class="hidden md:block">
                    <Button text={t({de: 'Kontakt', en: 'Contact'})}/>
                </div>
            </div>
        </div>
    </ContentBlock>
</nav>
