---
import React from 'react';
import {type Lang, useTranslations} from '../i18n';
import {ContentBlock} from '@/components/ContentBlock.tsx'
import LanguageSwitch from '@/components/LanguageSwitch.astro'
import {Icon} from 'astro-icon/components';

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale)
---

<nav class={'w-full h-40 flex'}>
    <ContentBlock>
        <div class="w-full px-3 flex justify-between items-center">
            <div class={'w-80'}>
                <Icon name={'ahipo_logo'} size={'300px'}/>
            </div>

            <div class={'flex gap-4'}>
                <LanguageSwitch/>
                <button>{t({de: 'Kontakt', en: 'Contact'})}</button>
            </div>
        </div>
    </ContentBlock>
</nav>
