---
import React from 'react';
import {type Lang, useTranslations} from '@/i18n';
import {ContentBlock} from '@/components/ContentBlock.tsx';
import {Image} from 'astro:assets';
import heroImage from '@/images/melanie_ahipo.png';

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale)
---

<div class={'w-full flex bg-corporate-main'}>
    <ContentBlock disableVerticalPadding={true}>
        <div class="flex flex-col-reverse gap-8 mt-12 text-corporate-light w-full md:grid md:grid-cols-5 md:gap-10 md:mt-20 xl:gap-10">

            <div class={'col-span-2 2xl:col-start-2 2xl:col-span-1 justify-end'}>
                <div class="flex flex-1 h-full flex-col justify-end">
                    <Image src={heroImage} alt={t('personal.name')} height={500}/>
                </div>
            </div>

            <div class={'flex flex-col gap-4 pb-10 md:col-start-3 md:col-span-2'}>
                <div class={'uppercase'}>
                    <h1 class={'text-6xl md:text-8xl'}>{t('personal.name')}</h1>
                </div>
                <p class={'text-xl md:text-2xl'}>{t('hero.title')}</p>
            </div>
        </div>
    </ContentBlock>
</div>
