---
import BaseLayout from '../../layouts/BaseLayout.astro';

import {type Lang, useTranslations} from '../../i18n';


const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale)
---

<BaseLayout title={t('general.imprint')} description={t('hero.title')}>
    <div class="max-w-[80%] m-auto mt-10">
        <h1 class="adsimple-323031523 text-4xl font-bold">Impressum</h1>
        <br>
        <p class="adsimple-323031523">Informationen über den Diensteanbieter.</p>
        <br>
        <p class="adsimple-323031523">Melanie Ahipo</p>
        <br>
        <p>
            <strong>Melanie Ahipo</strong>
        </p>
        <p class="adsimple-323031523">Stühlingerstraße 1
            <br/>79106 Freiburg
            <br/>Deutschland</p>
        <p>
            <br/>
            <strong>Tel.:</strong> +4976115534480</p>
        <br/>
        <div style="display:none">
        </div>
        <div style="display:none">
        </div>
        <p>
            <strong>USt-IdNr.:</strong> DE359313869<br/>
            <strong>Berufsbezeichnung:</strong> Rechtsanwältin &amp; rechtliche Betreuerin<br/>
            <strong>Verleihungsstaat:</strong> Deutschland<br/>
            <strong>Link zur Webseite der Kammer: </strong>
            <a href="https://www.rak-freiburg.de/" target="_blank" rel="noopener">https://www.rak-freiburg.de/</a>
            <br/>
            <strong>Name und Anschrift</strong>
            <br/>
            Rechtsanwaltskammer Freiburg<br/>
            Eisenbahnstraße 66<br/>
            79098 Freiburg
        </p>
        <br>
        <p>
            <strong>Aufsichtsbehörde:</strong>
            <br/>Rechtsanwaltskammer Freiburg<br/>Eisenbahnstraße 66, 79098 Freiburg, Deutschland<br/>
            <strong>Webseite:</strong> <a href="https://www.rak-freiburg.de/" target="_blank" rel="noopener">https://www.rak-freiburg.de/</a>
        </p>
        <br>
        <h2 id="berufshaftpflicht"
            class="adsimple-323031523 fusion-responsive-typography-calculated text-2xl font-bold mb-2"
            data-fontsize="24">
            Berufshaftpflichtversicherung
        </h2>
        <p>
            <strong>Name und Anschrift</strong>
            <br/>R+V Allgemeine Versicherung AG<br/>
            Reifeisenplatz 1, 65189 Wiesbaden<br/>
            Deutschland<br/>
            <strong>Berufshaftpflichtversicherung gilt für:</strong> Europäische Union, Europäischer Wirtschaftsraum und
            Türkei</p>
        <br/>
        <h2 id="berufsrechtliche_regelungen"
            class="adsimple-323031523 fusion-responsive-typography-calculated text-2xl font-bold mb-2"
            data-fontsize="24" style="--fontSize: 24;line-height: 1.5;--minFontSize: 24" data-lineheight="36px">
            Berufsrechtliche Regelungen
        </h2>
        <p>
            <strong>Berufsrechtliche Regelung:</strong> Es gelten die folgenden berufsrechtlichen Regelungen:<br/>
            Bundesrechtsanwaltsordnung (BRAO)<br/>
            Berufsordnung (BORA),<br/>
            Fachanwaltsordnung (FAO) <br/>
            Rechtsanwaltsvergütungsgesetz (RVG) <br/>
            Berufsregeln der Rechtsanwälte der Europäischen Union (CCBE)
        </p>
        <br/>
        <p>Die berufsrechtlichen Regelungen können über die Homepage der Bundesrechtsanwaltskammer (www.brak.de) in der
            Rubrik „Berufsrecht“ auf Deutsch und Englisch eingesehen und abgerufen werden.
        </p>
        <br/>

        <h2 id="universalschlichtungsstelle" class="adsimple-323031523 fusion-responsive-typography-calculated text-2xl font-bold mb-2"
            data-fontsize="24" style="--fontSize: 24;line-height: 1.5;--minFontSize: 24" data-lineheight="36px">
            Universal­schlichtungs­stelle</h2>
        <p class="adsimple-323031523">An einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle nehmen
            wir teil. Die zuständige Stelle ist die Universalschlichtungsstelle des Bundes, Zentrums für Schlichtung
            e.V., ansässig in der Straßburger Straße 8, 77694 Kehl am Rhein (<a class="adsimple-323031523"
                                                                                href="https://www.verbraucher-schlichter.de/"
                                                                                target="_blank" rel="follow noopener">https://www.verbraucher-schlichter.de</a>).
        </p>
        <br />
        <p>Alle Texte sind urheberrechtlich geschützt.</p>
        <p style="margin-top:15px">Quelle: Erstellt mit dem
            <a href="https://www.adsimple.de/impressum-generator/" title="Impressum Generator Deutschland von AdSimple">Impressum Generator</a> von AdSimple</p>
    </div>
</BaseLayout>
